# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Flutter
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/build/
**/.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Local files
*.local
.env
